/*

SCROLLBAR

*/

html {
  scrollbar-color: #ffffff #D7A19E;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #D7A19E;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}
