/*

INDEX > FOOTER

*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  width: 100%;
  background-color: var(--cor-principal-escura);
}

footer img.logo {
  width: 100%;
  max-width: 200px;
}

footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

footer .redes button {
  background-color: transparent;
  margin-left: 30px;
  transition: all 0.3s;
}

footer .redes button img {
  width: 40px;
  pointer-events: none;
}

footer .redes button:hover {
  opacity: 0.6;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    padding: 40px 25px;
  }
  footer img.logo {
    width: 100%;
    max-width: 150px;
  }
  footer .redes {
    margin-left: 0;
    padding: 30px 0 0 0;
  }
  footer .redes button {
    margin-left: 0;
    margin: 0 10px;
  }
}
