/*

INDEX > section.conteudo

*/

section.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-secundaria);
  background-image: url('../../../../../files/pages/index/background-conteudo-desktop.png');
  background-position: top right;
  background-size: cover;
}

section.conteudo .titulo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 80px;
  width: 100%;
}

section.conteudo .titulo h2 {
  font-family: var(--fonte-extralight);
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: var(--cor-secundaria);
  max-width: 450px;
}

section.conteudo .titulo .setas {
  margin-left: auto;
}

section.conteudo .titulo .setas button {
  background-color: transparent;
}

section.conteudo .titulo .setas button img {
  width: 50px;
  height: 50px;
  pointer-events: none;
  margin-left: 30px;
}

section.conteudo .slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 80px 0;
  width: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

section.conteudo .slide .itens {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 80px;
  transition: all 0.3s;
}

section.conteudo .slide::-webkit-scrollbar {
  display: none;
}

section.conteudo .slide .itens .item {
  width: 400px;
  min-height: 400px;
  background-image: url('../../../../../files/pages/index/moldura-conteudo.svg');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 30px 0 0;
  padding: 50px 0 0 50px;
}

section.conteudo .slide .itens .item p {
  padding: 30px;
  border-radius: 20px;
  background-color: var(--cor-branco);
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.6;
  color: var(--cor-principal);
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.conteudo {
    background-image: url('../../../../../files/pages/index/background-conteudo-mobile.png');
    background-position: bottom left;
  }
  
  section.conteudo .titulo {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 25px;
  }
  section.conteudo .titulo .setas {
    margin-left: 0;
    padding: 20px 0 0 0;
    pointer-events: none;
  }
  section.conteudo .titulo .setas button {
    background-color: var(--cor-secundaria);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.3s;
  }
  section.conteudo .titulo .setas button img {
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
  section.conteudo .titulo .setas button:hover {
    opacity: 0.7;
  }
  section.conteudo .slide {
    padding: 0 0 60px 0;
  }
  section.conteudo .slide .itens {
    padding: 0 25px;
  }
  section.conteudo .slide .itens .item {
    width: 300px;
    min-height: 300px;
    padding: 40px 0 0 40px;
  }
}
