/*

INDEX > section.preco

*/

section.preco {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-secundaria);
  background-image: url('../../../../../files/pages/index/background-preco-desktop.png');
  background-size: cover;
  background-position: bottom center;
  padding: 150px 25px 150px 25px;
  width: 100%;
}

section.preco .quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-principal);
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  padding: 70px 50px 50px 50px;
}

section.preco .quadro h3 {
  font-family: var(--fonte-extralight);
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: var(--cor-secundaria);
}

section.preco .quadro h2 {
  font-family: var(--fonte-demibold);
  font-size: clamp(1.5rem, 5vw, 5rem);
  color: var(--cor-branco);
  padding: 10px 0 30px 0;
}

section.preco .quadro h2 span {
  font-size: clamp(7rem, 5vw, 9rem);
}

section.preco .quadro p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.6;
  color: var(--cor-secundaria);
  padding: 0 0 30px 0;
}

section.preco .quadro button {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.6;
  color: var(--cor-principal);
  background-color: var(--cor-branco);
  padding: 10px 10px 10px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
  width: 100%;
}

section.preco .quadro button img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
  margin-left: auto;
}

section.preco .quadro button:hover {
  opacity: 0.7;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.preco {
    background-image: url('../../../../../files/pages/index/background-preco-mobile.png');
    background-position: bottom right;
    padding: 80px 25px 130px 25px;
  }
  section.preco .quadro {
    padding: 50px 25px 25px 25px;
  }
  section.preco .quadro h2 {
    font-size: clamp(3rem, 5vw, 4rem);
  }
  section.preco .quadro h2 span {
    font-size: clamp(5rem, 5vw, 6rem);
  }
}
